doctype html
html
	head
		title
			= "HelloJS federated signin example"
		script(src="//adodson.com/adorn/adorn.js", async)
		script(src="//adodson.com/hello.js/dist/hello.all.js")
		script(type='text/javascript').
			var HELLO_CLIENT_IDS =!{JSON.stringify(client_ids)}
		script(src="script.js")
		link(rel="stylesheet", href="//adodson.com/adorn/adorn.css")
	body
		include:markdown-it ../README.md

		h2
			= "Demo"

		each val, key in client_ids
			if connections && connections[key]
				p
					= "Hello " + connections[key].displayName + " via " + key
			else
				div(class=key)
					button.login(onclick="login('#{key}')")
						= "Signin with " + key

